<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<additionalshippingblock_view>
			<general>
				<enabled>1</enabled>
			</general>
			<block>
				<blockSelected/>
				<renderBlockIfDisabled>1</renderBlockIfDisabled>
				<blockPlacement>shippingAdditional</blockPlacement>
			</block>
		</additionalshippingblock_view>
	</default>
</config>
